<ion-header>
    <app-header title="Additives"></app-header>
</ion-header>

<ion-content>
    <ion-segment [value]="null" (ionChange)="filterByLevel($event)">
        <ion-segment-button [value]=null>
            <ion-label>null</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="0">
            <ion-label>0</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="2">
            <ion-label>1</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="3">
            <ion-label>2</ion-label>
        </ion-segment-button>
    </ion-segment>

    <!--   <ion-list>
        <ion-item *ngFor="let item of dbList">
            <ion-label>{{ item.name }}</ion-label>
        </ion-item>
    </ion-list> -->

    <ion-list class="ion-no-padding">
        <ion-item detail="false" *ngFor="let item of dbList.slice(min, max)">
            <ion-thumbnail class="ion-no-margin" [ngStyle]="{ 'background': item.level | colors }" slot="start">
                {{ item?.id }}
            </ion-thumbnail>
            <ion-label>
                <ion-text>
                    <h3>{{item?.name}}</h3>
                </ion-text>
                <ion-text>
                    <h5>{{ item?.type }}</h5>
                </ion-text>

            </ion-label>
            <ion-icon [routerLink]="'../detail/' + item.id.toString()" name="caret-forward-circle"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>