<ion-header>
    <app-header title="Additives"></app-header>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-text-center" size="3">
                <div>
                    <ion-icon (click)="getAdditiveByLevel('0')" class="green" name="ellipse"></ion-icon>
                </div>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <div>
                    <ion-icon (click)="getAdditiveByLevel('1')" class="yellow" name="ellipse"></ion-icon>
                </div>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <div>
                    <ion-icon (click)="getAdditiveByLevel('2')" class="red" name="ellipse"></ion-icon>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-list class="ion-no-padding">
        <ion-item detail="false" *ngFor="let item of itemLocal?.slice(min, max)">
            <ion-thumbnail class="ion-no-margin" [ngStyle]="{ 'background': item.level | colors }" slot="start">
                {{ item?.id }}
            </ion-thumbnail>
            <ion-label>
                <ion-text>
                    <h3>{{item?.name}}</h3>
                </ion-text>
                <ion-text>
                    <h5>{{ item?.type }}</h5>
                </ion-text>

            </ion-label>
            <ion-icon [routerLink]="'../detail/' + item.id.toString()" name="caret-forward-circle"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>