ion-thumbnail {
  height: 100px;
  width: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

ion-item {
  --padding-start: 0;
}

ion-label {
  padding: 15px;
}
