ion-thumbnail {
  height: 100px;
  width: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

ion-item {
  --padding-start: 0;
}

ion-label {
  padding: 15px;
}

ion-grid {
  background: var(--ion-color-noir);
}

ion-icon.green {
  color: var(--ion-color-success);
  font-size: 30px;
}

ion-icon.yellow {
  color: var(--ion-color-warning);
  font-size: 30px;
}

ion-icon.red {
  color: var(--ion-color-danger);
  font-size: 30px;
}
