<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>

            <ion-grid>
                <ion-row class="ion-justify-content-end">
                    <ion-col>
                        <p>
                            <ion-icon (click)="goBack()" class="ion-padding-end" name="arrow-back-outline"></ion-icon>
                            Detail
                        </p>
                    </ion-col>

                    <ion-col>

                    </ion-col>
                </ion-row>
            </ion-grid>


        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="(additive$) as item">
        <ion-card-header color="{{item.level | colors}}" class="ion-text-center">
            <ion-text>
                <h1>{{item.id}}</h1>
            </ion-text>
        </ion-card-header>
        <ion-card-content class="ion-text-center ion-margin">
            <ion-text>
                <h1>{{item.name}}</h1>
                <p>{{item.type}}</p>
            </ion-text>

        </ion-card-content>
        <div class="level" id="level">
            <ion-card-content class="ion-text-center">
                <ion-text color="{{item.level | colors}}">
                    {{item.level | level }}
                </ion-text>

            </ion-card-content>
        </div>
    </ion-card>

    <ion-card *ngIf="info">
        <ion-card-content>
            <ion-text>
                {{ info?.extract }}
            </ion-text>
        </ion-card-content>
    </ion-card>

</ion-content>